name: Download Models
on:
  workflow_dispatch:

jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Download CREPE full ONNX
        run: |
          curl -L "https://github.com/marl/crepe/releases/download/v0.0.1/crepe-full.onnx" -o models/melody/crepe_full.onnx

      - name: Download Hubert base
        run: |
          curl -L "https://huggingface.co/lj1995/VoiceConverter/resolve/main/hubert_base.pt" -o models/choir/hubert_base.pt

      - name: Download Demucs quantized
        run: |
          curl -L "https://huggingface.co/facebook/demucs/resolve/main/demucs_quantized.ckpt" -o models/vocal/demucs_small.ckpt

      - name: Commit models
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add models/*
          git commit -m "Downloaded model binaries via GitHub Actions"
          git push

