name: Download Models
on:
  workflow_dispatch:

jobs:
  download:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Python and CREPE
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip
          pip3 install crepe

      - name: Extract CREPE model files
        run: |
          python3 scripts/extract_crepe_models.py

      - name: Commit models
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add models/
          git commit -m "Imported CREPE models" || echo "No changes"
          git push
